body {
    background-color: #2b8a36; /* Groene achtergrondkleur zoals te vinden op evvc.nl */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Inhoud centreren horizontaal */
    align-items: center; /* Inhoud centreren verticaal */
    height: 100vh; /* Volledige hoogte van het scherm */
}

.container {
    max-width: 80%; /* Maximale breedte van de container */
    text-align: center; /* Tekst centreren */
}

/* Stijl voor de tekst (voorbeeld) */
h1 {
    color: #fff; /* Witte tekstkleur */
    font-size: 24px;
    font-weight: bold;
}

p {
    color: #fff; /* Witte tekstkleur */
    font-size: 18px;
}

/* Mediaquery voor mobiele apparaten */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 90%; /* Pas de breedte van de container aan voor mobiele apparaten */
    }

    h1 {
        font-size: 20px; /* Pas de lettergrootte van de koptekst aan voor mobiele apparaten */
    }

    p {
        font-size: 16px; /* Pas de lettergrootte van de alinea aan voor mobiele apparaten */
    }
}
